<!doctype html>
<html>

	{% include head.html %}


  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        <a class="page-link" href="https://bayesopt.github.io/home.html">Home</a><br>
        <a class="page-link" href="https://bayesopt.github.io/schedule.html">Schedule</a><br>
        <a class="page-link" href="https://bayesopt.github.io/submissions.html">Submissions</a><br>
        <a class="page-link" href="https://bayesopt.github.io/accepted.html">Accepted Papers</a><br>
        <a class="page-link" href="https://bayesopt.github.io/past.html">Past Workshops</a><br>
        <a class="page-link" href="https://bayesopt.github.io/special-issue.html">Special Issue</a><br>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <!-- <p><small>
            Sponsored by
            <img src="MSRLogoDigitalBlack.png"
                 alt="Microsoft Research"
                 width="240">
        </small></p> -->
        <p><small>
            Theme by <a href="https://github.com/orderedlist">orderedlist</a>
        </small></p>
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>
