<!doctype html>
<html>

	{% include head.html %}


  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
        {% assign pages = site.pages | sort:"weight"  %}
        {% for page in pages %}{% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        <br>
        {% endif %}{% endfor %}
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <!-- <p><small>
            Sponsored by
            <img src="MSRLogoDigitalBlack.png"
                 alt="Microsoft Research"
                 width="240">
        </small></p> -->
        <p><small>
            Theme by <a href="https://github.com/orderedlist">orderedlist</a>
        </small></p>
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>
